/****************************
Ruben Diaz Zapico - UO283204
Estilo del documento personas.html
****************************/

body {
    font-family: Calibri, sans-serif;
    background-color: rgb(247, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    margin: 1% auto;
    padding: 0 1%;
}

video, img {
    width: 200px;
}